html {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
}

div.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: white;
  font-size: 20px;
  margin: 50px;
  font-family: 'FreeSans', 'Helvetica', sans-serif;
  letter-spacing: 88%;
}

span{
  color: black;
}

#myBtn{
  font-size: 24px;
  font-family: 'FreeSans', 'Helvetica', sans-serif;
  border: none;
  outline: none;
  color: black;
  background-color: white;
  cursor: n-resize;
}

p {
  margin: 55px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   font-weight: 300;
  font-size: 250px;
  line-height: 1.111;
  box-sizing: border-box;
  letter-spacing: 88%;
  word-spacing: 0.05rem;
  color: black;
  -webkit-text-stroke: 0.5px black;
}

hr{
  border: 1px solid black;
}

.section{
  margin: 50px;
}